<div class="post">
  <h4 class="underline">{{title}}</h4>
  <ul class="post-details">
    <li>
      <div>
        <span>kind</span>
        <br/>
        <span>{{kind}}</span>
      </div>
      </li>
    <li>
      <div>
        <span>content</span>
        <br/>
        <span>{{urlOrDetails}}</span>
      </div>
      </li>
    <li>
      <div>
        <span>subreddit</span>
        <br/>
        <span>{{subreddit}}</span>
      </div>
      </li>
    <li>
      <div>
        <span>scheduled time</span>
        <br/>
        <span>{{schedule.date}} {{schedule.time}}</span>
      </div>
    </li>
  </ul>
</div>