<div class="post">
  <div class="post-title">
    <a href="{{url}}">{{title}}</a> / {{subreddit}}
  </div>
  <div class="post-time">
    {{schedule.date}} {{schedule.time}}
  </div>
  <div class="post-content">{{urlOrDetails}}</div>
</div>
