<div class="post">
  <div class="post-title">
    <a href="#">{{title}}</a>
  </div>
  <div class="post-time">
    <strong>Subreddit:</strong> /r/{{subreddit}}
  </div>
  <div class="post-content"><strong>Post Details:</strong> {{urlOrDetails}}</div>
  <div class="post-subreddit"><a href="#user">Edit</a> | <a href="#user">Remove</a> | Scheduled Time: {{schedule.date}} {{schedule.time}}</div>
</div>
